<h1>HALO SELECT</h1>
<section class="halo-select" >
    <!-- <halo-field>
      <halo-select
        [(value)]="value"
        size="small"
        [placeholder]="'Select'"
        
      >
        <halo-option
          *ngFor="let option of data?.sourceField"
          [value]="option"
          >{{ option }}</halo-option
        >
      </halo-select>
    </halo-field> -->

    <!-- <details class="custom-select">
      <summary class="radios">
        <input *ngFor="let option of data?.sourceField" type="radio" [name]="option" [id]="option" [title]="option">
      </summary>
      <ul class="list">
        <li *ngFor="let option of data?.sourceField">
          <label [for]="option">
            {{option}}
            <span></span>
          </label>
        </li>
      </ul>
    </details>
    <br> -->
    <form id="app-cover" >
      <div id="select-box" *ngFor="let item of items">
        <input type="checkbox" id="options-view-button">
        <div id="select-button" class="brd">
          <div id="selected-value">
            <span>Select a platform</span>
          </div>
          <div id="chevrons">
            <i class="fas fa-chevron-up"></i>
            <i class="fas fa-chevron-down"></i>
          </div>
        </div>
        <div id="options">
          <div *ngFor="let option of data?.sourceField" class="option">
            <input class="s-c top" type="radio" [name]="option" [value]="option">
            <input class="s-c bottom" type="radio" [name]="option" [value]="option">
            <i class="fab fa-codepen"></i>
            <span class="label">{{option}}</span>
          </div>
        </div>
      </div>
    </form>
 
</section>
